<br>
<button (click)="listNoneFilter0()">list none filter0</button><br>
<br>
<button (click)="listNoneFilter1()">list none filter1</button><br>
<br>
<button (click)="listNoneFilter2()">list none filter2</button><br>
<br>
<button (click)="listWithFilter0()">list with filter0</button><br>
<br>
<button (click)="listWithFilter1()">list with filter1</button><br>
<br>
<button (click)="listWithFilter2()">list with filter2</button><br>
<br>
<button (click)="listWithFilter3()">list with filter3</button><br>
<br>
<button (click)="listWithFilter4()">list with filter4</button><br>
<br>
<button (click)="listWithFilter5()">list with filter5</button><br>
<br>
<button (click)="listWithFilter6()">list with filter6</button><br>
<br>
<button (click)="listWithFilter7()">list with filter7</button><br>
<br>
<button (click)="listWithFilter8()">list with filter8</button><br>
<br>
<button (click)="existsRegisteredCallback()">existsRegisteredCallback</button><br>
<br>
<button (click)="registerCallbackWithNoneFilter0()">registerCallback none filter0</button><br>
<br>
<button (click)="registerCallbackWithNoneFilter1()">registerCallback none filter1</button><br>
<br>
<button (click)="registerCallbackWithNoneFilter2()">registerCallback none filter2</button><br>
<br>
<button (click)="registerCallbackWithFilter0()">registerCallback with filter0</button><br>
<br>
<button (click)="registerCallbackWithFilter1()">registerCallback with filter1</button><br>
<br>
<button (click)="registerCallbackWithFilter2()">registerCallback with filter2</button><br>
<br>
<button (click)="registerCallbackWithFilter3()">registerCallback with filter3</button><br>
<br>
<button (click)="registerCallbackWithFilter4()">registerCallback with filter4</button><br>
<br>
<button (click)="registerCallbackWithFilter5()">registerCallback with filter5</button><br>
<br>
<button (click)="registerCallbackWithFilter6()">registerCallback with filter6</button><br>
<br>
<button (click)="registerCallbackWithFilter7()">registerCallback with filter7</button><br>
<br>
<button (click)="registerCallbackWithFilter8()">registerCallback with filter8</button><br>
<br>
<button (click)="unregisterCallback()">unregisterCallback</button><br>